@mixin borderStyle {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: rgb(0, 153, 255);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(0, 153, 255);
}
