djangorestframework
asgiref
asgiref-3.8.1.dist-info
corsheaders
django
django_environ-0.11.2.dist-info
django_cors_headers-4.4.0.dist-info
Django-5.1.dist-info
environ
pip
pip-24.0.dist-info
rest_framework
sqlparse
sqlparse-0.5.1.dist-info
tutorial