@import "../../variables";
@import "../../extends/button";
.OurTeamsBox {
  padding: calc(1em + 2vw) 0;
  h2 {
    font-weight: 900;
    text-align: center;
    padding-bottom: var(--font-size-h2);
  }
  .desc {
    width: 50%;
    margin: auto;
    line-height: calc(var(--font-size-p) + 1vw);
  }
  .Box {
    display: flex;
    justify-content: center;
    padding: 20px 10vw;
    article {
      cursor: pointer;
      display: flex;
      padding: 20px;
      border-radius: 8px;
      flex: 1;
      border: 0.2px solid rgba(128, 128, 128, 0);
      box-shadow: 0px 2px 2px rgba(128, 128, 128, 0.24);
      &:hover {
        border: 0.2px solid rgba(128, 128, 128, 0.463);
      }
      section {
        padding-left: 30px;
        .text {
          line-height: calc(var(--font-size-p) + 1vw);
        }
        h6 {
          padding-top: 20px;
          line-height: calc(var(--font-size-h6) + 1vw);
        }
      }
      .ImageBox {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        img {
          min-width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
      }
    }
    .notHover {
      cursor: default;
      &:hover {
        border: 0.2px solid rgba(128, 128, 128, 0) !important;
      }
    }
  }
  .BlockTeams {
    padding: calc(1em + 2vw) 0;
    article {
      display: flex;
      margin: auto;
      margin-bottom: 4vw;
      width: 60%;
      .blockTexts {
        h4 {
          margin-bottom: 10px;
        }
        p {
          text-align: justify;
          line-height: calc(var(--font-size-p) + 0.4vw);
        }
        .boxLink {
          margin-top: 20px;
          button {
            text-align: start;
            padding-left: 5vw;
            text-decoration: underline;
            text-underline-offset: 3px;
          }
          .AllSiteGlobalButtonUnderline {
            @extend %buttonUnderline;
          }
        }
      }
      > .ImageBox {
        margin-right: 10px;
        img {
          object-fit: cover;
        }
      }
    }
  }
  @media screen and (max-width: 1370px) {
    .desc {
      margin-bottom: 30px;
      width: 80%;
    }
    .BlockTeams {
      display: none;
    }
    .Box {
      flex-direction: column;
      padding: 0;
      article {
        max-width: 500px;
        min-width: inherit;
        margin: auto;
        &:hover {
          border: 0.2px solid rgba(128, 128, 128, 0);
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .BlockTeams {
      article {
        width: 80%;
      }
    }
  }
  @media screen and (max-width: 800px) {
    .desc {
      width: 90%;
    }
    .Box {
      article {
        padding: 5px;
        padding-bottom: 20px;
        .ImageBox {
          width: 60px;
          height: 60px;
          min-width: 60px;
          min-height: 60px;

          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .BlockTeams {
      article {
        width: 90%;
      }
    }
  }
  @media screen and (max-width: 400px) {
    .BlockTeams {
      article {
        flex-direction: column;
        width: 95%;
        > .ImageBox {
          padding-top: 20px;
          margin: auto;
        }
      }
    }
  }
}
