@import "../../variables";
@import "../../extends/fontF";
@import "../../extends/button";

.AdvantageBtnNavtop {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;

  .iconLeft {
    padding-right: 15px;
  }
  .iconRight {
    padding-left: 15px;
  }
  button {
    @extend %buttons;
    margin: 0 40px;
    border: 1px solid white;
    font-weight: 700;
    background-color: white;
    color: $colorDark1;
    transition: all ease 0.5s;
    &:hover {
      background-color: $colorDark5;
      color: white !important;
    }
  }
}
