@import "../variables";
@import "../extends/ModalsStyles.scss";
@import "../mixins/close";

.DisplayGoogleFrom {
  @extend %ModalsStyles;
  position: absolute;
  background-color: red;
  top: 50%;
  left: 50%;
  max-width: 600vh;
  transform: translate(-50%, -50%);
  iframe {
    max-width: 100%;
    max-height: 80vh;
  }
  .close {
    @include close;
  }

  @media (max-width: 400px) {
    max-width: 300px;
    width: 80vh;
    iframe {
      max-width: 100%;
      max-height: 80vh;
    }
  }
  @media (max-width: 350px) {
    max-width: 250px;
    width: 60vh;
    iframe {
      max-width: 100%;
      max-height: 80vh;
    }
  }
}
