@import "../variables";
@import "../extends/ModalsStyles.scss";

.None {
  display: none;
}

.boxRemoveUser {
    font-family: $familyGlobal;
    @extend %ModalsStyles;
  
    align-items: flex-end;
    justify-content: space-around;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
      font-weight: 800;
      padding: 20px;
      font-size: 20px;
      text-align: center;
      line-height: 25px;
    }
    .boxButtons {
        .Red {
            background-color: red;
        }
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 15px;
      margin-bottom: 15px;
      button,
      a {
        font-size: 15px;
        border-radius: 4px;
        border: 1px solid gray;
        padding: 5px;
        box-shadow: $shadow;
        padding: 10px 25px;
        color: white;
        background-color: $colorDark4;
        text-decoration: none;
        font-weight: 700;
  
        &:active,
        &:after {
          color: white;
        }
        &:hover {
          opacity: 0.8;
        }
      }
      a {
        letter-spacing: 1px;
      }
    }
    @media screen and (max-width: 400px) {
      width: 80%;
    }
}